<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <title><%= title %></title>
    <meta name="keywords" content="0xScope,Web3">

    <meta property="title" content="<%= title %>">
    <meta property="description" content="<%= description %>">

    <meta property="og:url" content="<%= url %>">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= imgUrl %>">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= url %>">
    <meta property="twitter:title" content="<%= title %>">
    <meta property="twitter:description" content="<%= description %>">
    <meta property="twitter:image" content="<%= imgUrl %>">
</head>

<style>
    body {
        margin: 0;
        padding: 0;
    }
    .css {
        width: 100%;
		height: 100vh;	/* 视口的100%高度 */
		border: 0;
    }
</style>
<body>
    <iframe src="https://testofthefuturegoogle.0xscope.com/blog/Probing-Lazarus%E2%80%99-hacking-spree-after-CoinEx-attack-1703974922127040512" class="css" ></iframe>
</body>
</html>